/* Css Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
/* Google Fonts */
/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* Preset Attributes for Fonts and Elements */
html {
    scroll-padding-top: 64px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Darker Grotesque", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 24px;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

figcaption {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: rgb(78, 78, 78);
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    border-radius: 8px;
}


/* Components */
.button-small {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #b0b0b0;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.button-small:hover {
    background-color:#e3e3e3;
    transition: all 0.2s ease-in;
}

/* Nav */ 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    background-color: white;
    border-color: rgb(209, 209, 209);
    border-style: solid;
    border-width: 0 0 2px 0;
    position: sticky;
    /* height: 64px; */
    top: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 6px;
    height: 64px;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

}

.nav-links a {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 12px;
}

.nav-links a:hover {
    background-color: rgb(235, 235, 235);
    /* font-weight: bold; */
    transition: all 0.2s ease-in;
}

.nav-links .primary-nav-button {
    background-color: #4E61B7;
    /* padding: 12px 32px; */
    color: white;
}

.nav-links .primary-nav-button:hover {
    background-color: #404f94;
    transition: all 0.2s ease-in;
}

/* Hide hamburger by default */
.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 52px;
  height: 50px;
  padding: 16px 12px;
}

.toggle-button .bar {
  height: 2.2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 40px;
}

/* Body */

/*
body {
    display: flex;
    flex-direction: column;
} */

.outer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px 0 16px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 96px 0;
}

.main-subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
}

/* Home - Projects */

section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 0;
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}

.card-project {
    display: flex;
    flex: 0 0 calc(50% - 40px);
    max-width: 564px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

.card-project a {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    /* width: 100%; */
    /* border: 1px solid rgb(176, 176, 176);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px; */
    padding: 16px;
    text-decoration: none;
    color: inherit;
    border-radius: 16px;
}

.card-project:hover {
    background-color: rgb(238, 238, 243);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in;
}

.card-project__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: rgb(239, 239, 239);
    padding: 2px 16px 2px 12px;
    border-radius: 999px;
    gap: 4px;
    font-size: 15px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 20;
  transform: scale(.65);
}

/* Home - About Me*/

#bio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
    max-width: 800px;
    margin: auto;
    padding: 32px 0;
}

#bio-text {
    display: flex;
    flex-direction: column;
    flex: 0 1 360px;
    gap: 32px;
}

#bio-text p {
    font-size: 16px;
}

#bio-images {
    display: flex;
    flex-direction: column;
    flex: 1 1 260px;
    gap: 32px;
}

#bio-text a {
    text-decoration: none;
    /* color: rgb(82, 0, 188); */
}

#bio-text a:link {
    color: #0313c5;
}

#placeholder {
    height: calc(100vh / 2);
}

/* Project & Resume Pages */

.notion-preview {
    position: absolute;
    height: calc(100vh - 64px);
    top: 64px;
}

#resume-preview-id {
    position: absolute;
    height: calc(100vh - 64px);
}

body {
    margin: 0;
}

/* Contact Page */

#contact-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    gap: 8px;
    width: 100%;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 16px;
    padding: 24px 32px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contact-box:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in;
}

/* .contact-box a {
    width: fit-content;
} */

.contact-info {
    font-weight: 500;
}

/* Navbar padding adjustment */

@media(max-width: 1320px){
    .navbar {
        padding: 0 16px;
    }
    #contact-containers {
        gap: 32px;
    }
}

@media(max-width: 960px) {
    .card-project {
        flex: 0 0 100%;
    }
}

/* Hide buttons on mobile */
@media(max-width: 700px){
    /* show hamburger */
    .toggle-button {
        display: flex;
    }

    /* shrink logo */
    .logo {
        font-size: 24px;
    }
    
    /* hide links by default.*/
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }

    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        align-content: flex-start;
    }

    .navbar li {
        width: 100%;
    }

    .nav-links a {
        padding: 16px 16px;
        width: 100%;
        text-align: center;
    }

    /* .nav-links li {
        text-align: center;
        height: 48px;
    } */

    /* toggled by JS */
    .nav-links.active {
        display: flex;
    }

    .navbar.active {
        height: 100vh;
    }

    /* .resume-preview.active {
        display: none;
    } */

    #bio-text {
        flex: auto;
    }

    #bio-images {
        max-width: 400px;
        margin: auto;
    }

}